<hr class="pt-auto">
  <div class="container-fluid bg-dark">
    <footer class="py-5">  
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top text-light">
        <div class="container col-md-3">
            <h4>Fragen an:</h4>
            <a href="mailto:verwaltung@conmunity.at" class="text-decoration-none text-bg-dark">verwaltung@conmunity.at</a>
            <br><br><br>
            <h4>INFOS:</h4>
            <div class="row-cols-4">
                <div class="col-md-1">
                    <a routerLink="/FAQ" class="text-decoration-none text-bg-dark">FAQ</a>
                </div>
                <div class="col-md-1">
                    <a routerLink="/rules" class="text-decoration-none text-bg-dark">REGELN</a>
                </div>
                <div class="col-md-1">
                    <a routerLink="/media" class="text-decoration-none text-bg-dark">MEDIEN</a>
                </div>
                <div class="col-md-1">
                    <a routerLink="/location" class="text-decoration-none text-bg-dark">LOCATION</a>
                </div>
            </div>
        </div>
        <div class="container col-md-3">
            <img src="../../assets/images/Conmmunitylogo.ico" height="50" width="auto">
            <span style="font-size: x-large;">Conmunity</span>
            <p style="font-size: small;">© 2022 Conmunity - Verein für Musik, Tanz, Videospiele und moderne Jugend- und Popkultur</p>
        </div>
        <div class="container col-md-3">
            <h4>Sponsoren:</h4>
            <a href="mailto:sponsoren@conmunity.at" class="text-decoration-none text-bg-dark">sponsoren@conmunity.at</a>
            <br><br><br>
            <h4>MEHR:</h4>
            <div>
                <div class="col-md-3">
                    <a routerLink="/TOS" class="text-decoration-none text-bg-dark">AGBs</a>
                </div>
                
            </div>
        </div>
      
    </div>
    </footer>
  </div>