
<div class=" shit pt-5 h-100 p-5 rounded-3 ">
    <div class=" text-light text-center ">
        <h1>Das Präsidium</h1>
    </div>
    </div>
    <br><br>

    <div class="col-md-12">
<div class="media goodshit">
    <div class="media-body ">
        <h2 class="">Was tun wir?</h2>
        <p class="text">Als Leitungsorgan der CONmunity übernehmen wir die Planung und Koordination von Vereinstätigkeiten und verwalten die Geschäftsführung des Vereins. <br> <br>
        Unsere Aufgaben umfassen die strategische Planung und Umsetzung der Vereinsziele sowie die Vertretung des Vereins nach außen. Wir organisieren und leiten Generalversammlung oder 
        andere Vereinstreffs und sind für die Finanzen und das Budget verantwortlich. <br>
        Dabei achten wir darauf, dass die vereinsinternen Regelungen eingehalten werden und koordinieren die Arbeit der Mitglieder,
         um unsere Vereinszwecke zu erfüllen. Außerdem überwachen wir laufende Projekte und Aktivitäten und pflegen die Kommunikation mit unseren Partnern.</p>
    </div>
    <img class="media-object" src="../../assets/images/praesidium.jpg" alt="Image">
</div>
</div>


<div class="ueberschrift">
    <h2>Wer sind wir?</h2>
<div class="d-flex flex-lg-row flex-column">
    <div class="container col d-flex justify-content-center mr-auto p-2" >
        <div class="card shit"style="width: 18rem;" >
            <img src="../../assets/images/mally.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-header cardheader text-center">Mally Pechhacker</h4>
                <p class="cardundertitel">Präsidentin</p>
                <p class="card-text cardtextstyle">Hallöchen, Ich bin Mally und die Präsidentin unseres Vereins! <br><br>

                    Ich bin leidenschaftliche Cosplayerin und liebe es, kreativ zu sein und zu basteln. Mir ist es extrem wichtig, mich für andere einzusetzen. Deswegen studiere ich Gesundheits- und Krankenpflege in Wien und bin außerhalb meines Studiums ehrenamtliche Sanitäterin!
                    <br><br>
                    Da ich das soziale Engagement innerhalb der Con-Szene fördern möchte, gebe ich nun mein Bestes, für alle einen Safe-Space in der CON-Community zu schaffen.<br><br>
                    
                    We‘re one huge CONmunity!</p>

                    <div class="card-footer cardfooter"style="text-align: center;"><a href="mailto:praesidentin@conmunity.at" class="linkclass">praesidentin&#64;conmunity.at</a></div>
            </div>
        </div>
    </div>
    <div class="container col d-flex justify-content-center mr-auto p-2">
        <div class="card shit" style="width: 18rem;">
            <img src="../../assets/images/xandi.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-header cardheader text-center">Alexandra König</h4>
                <p class="cardundertitel">Schriftführerin</p>
                <p class="card-text cardtextstyle">Mein Name ist Alexandra und ich bin für die Schriftführung im Verein zuständig!<br><br>

                    Ich arbeite als Sachbearbeiterin und programmiere in meiner Freizeit auch gerne (unter anderem diese tolle Webseite, auf der du gerade bist). Abgesehen davon zeichne ich und verbringe meine Freizeit gerne mit Lesen und Videospielen aller Art.<br><br>
                    
                    Mir ist das Miteinander wichtig und ich möchte mein Bestes dafür tun, für uns alle ein gutes Umfeld in der Con-Community zu schaffen... denn immerhin sind wir CONmunity! <br><br></p>
                    <div class="card-footer cardfooter"style="text-align: center;"><a href="mailto:schriftfuerung@conmunity.at" class="linkclass">schriftfuerung&#64;conmunity.at</a></div>
            </div>
        </div>
    </div>
    <div class="container col d-flex justify-content-center mr-auto p-2">
        <div class="card shit" style="width: 18rem;">
            <img src="../../assets/images/fabio.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-header cardheader text-center">Fabio Reichhalter</h4>
                <p class="cardundertitel">Kassier</p>
                <p class="cardtextstyle">Hallo! Ich bin Fabio und für die Verwaltung der Finanzen im Verein zuständig. <br><br>

                  Ich bin ein Freund von Struktur und versuche mit Fähigkeiten, die ich außerhalb des Vereins erlernt habe, ein gutes Kommunikationsklima zu gewährleisten. <br><br>
                  Unser Ziel ist es dieses Kommunikationsklima nicht nur innerhalb unseres Vereins zu haben, sondern es auch nach außen zu tragen. Jede Person sollte, auch in stressigen Situationen, respektvollen Umgang erfahren.</p>
                  <div class="card-footer cardfooter"style="text-align: center;"><a href="mailto:kassier@conmunity.at" class="linkclass">kassier &#64;conmunity.at</a></div>
            </div>
        </div>
    </div>
</div>
</div>

<br><br>
