
<div class=" shit pt-5 h-100 p-5 rounded-3 ">
    <div class=" text-light text-center ">
        <h1>Das Präsidium</h1>
    </div>
    </div>
    <br><br>


<div class="d-flex flex-lg-row flex-column">
    <div class="container col d-flex justify-content-center mr-auto p-2" >
        <div class="card shit"style="width: 18rem;" >
            <img src="../../assets/images/placeholders/person.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title text-center">Mally Pechhacker</h4>
                <p class="cardundertitel">Präsidentin</p>
                <p class="card-text cardtextstyle">Hallöchen, Ich bin Mally und die Präsidentin unseres Vereins! <br><br>

                    Ich bin leidenschaftliche Cosplayerin und liebe es, kreativ zu sein und zu basteln. Mir ist es extrem wichtig, mich für andere einzusetzen. Deswegen studiere ich Gesundheits- und Krankenpflege in Wien und bin außerhalb meines Studiums ehrenamtliche Sanitäterin!
                    <br><br>
                    Da ich das soziale Engagement innerhalb der Con-Szene fördern möchte, gebe ich nun mein Bestes, für alle einen Safe-Space in der CON-Community zu schaffen.<br><br>
                    
                    We‘re one huge CONmunity!</p>
            </div>
        </div>
    </div>
    <div class="container col d-flex justify-content-center mr-auto p-2">
        <div class="card shit" style="width: 18rem;">
            <img src="../../assets/images/placeholders/person.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title text-center">Alexandra König</h4>
                <p class="cardundertitel">Schriftführerin</p>
                <p class="card-text cardtextstyle">Mein Name ist Alexandra und ich bin für die Schriftführung im Verein zuständig!<br><br>

                    Ich arbeite als Sachbearbeiterin und programmiere in meiner Freizeit auch gerne (unter anderem diese tolle Webseite, auf der du gerade bist). Abgesehen davon zeichne ich und verbringe meine Freizeit gerne mit Lesen und Videospielen aller Art.<br><br>
                    
                    Mir ist das Miteinander wichtig und ich möchte mein Bestes dafür tun, für uns alle ein gutes Umfeld in der Con-Community zu schaffen... denn immerhin sind wir CONmunity! <br><br></p>
            </div>
        </div>
    </div>
    <div class="container col d-flex justify-content-center mr-auto p-2">
        <div class="card shit" style="width: 18rem;">
            <img src="../../assets/images/placeholders/person.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title text-center">Fabio Reichhalter</h4>
                <p class="cardundertitel">Kassier</p>
                <p class="cardtextstyle">Ich bin Fabio, der Kassier des Vereins.</p>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class=" shit pt-5 h-100 p-5 rounded-3 ">
    <div class=" text-light text-center ">
        <h1>Der Verein</h1>
    </div>
    </div>
    <br><br>

<div class="timeline"> 
  <div class="position-relative timeline__event  animated fadeInUp delay-3s timeline__event--type1">
    <div class="timeline__event__icon ">
      <i class="lni-cake"></i>

    </div>
   
    <div class="timeline__event__content ">
      <div class="timeline__event__title">
        Birthday
      </div>
      <div class="container timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
      </div>
    </div>
  </div>


  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
    <div class="timeline__event__icon">
      <i class="lni-burger"></i>

    </div>
    
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Lunch
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
    <div class="timeline__event__icon">
      <i class="lni-slim"></i>

    </div>
 
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Exercise
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
      </div>

    </div>
  </div>
  <div class="timeline__event animated fadeInUp timeline__event--type1">
    <div class="timeline__event__icon">
      <i class="lni-cake"></i>

    </div>
  
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Birthday
      </div>
      <div class="timeline__event__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
      </div>
    </div>
  </div>

</div>
