<div class="container row">
    <div class="container col">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/placeholders/Woman.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Mally Pechhacker</h4>
                <h6 class="card-title">Präsidentin</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
            </div>
        </div>
    </div>
    <div class="container col">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/placeholders/Woman.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Alexandra König</h4>
                <h6 class="card-title">Schriftführerin</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
            </div>
        </div>
    </div>
    <div class="container col">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/placeholders/Woman.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Fabio Reichhalter</h4>
                <h6 class="card-title">Kassier</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
            </div>
        </div>
    </div>
</div>
