<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand col-md-4" routerLink="">
      <img
        src="../../assets/images/Conmmunitylogo.ico"
        height="50"
        width="auto"
      />
      <span><img
        src="../../assets/images/CONmunityschrift.png"
        height="50"
        width="auto"
      /></span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!--
            ##########################################################
                                     Pages
            ##########################################################
      -->
      <div class="container-fluid col-md-8">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/news"
              >Neuigkeiten</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/events"
              >Verantstaltungen</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/join"
              >Mitwirken</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/aboutUs"
              >Über uns</a
            >
          </li>
        </ul>
      </div>

      <!--
            ##########################################################
                                Social Media
            ##########################################################
          -->
      <div class="container-fluid col-md-4">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <!--Twitter (currently no link)-->
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="https://www.twitter.com"
            >
              <i class="bi bi-twitter" style="font-size: 25px"></i>
            </a>
          </li>
          <!--Instagram-->
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="https://www.instagram.com/conmunity_at/?igshid=NTc4MTIwNjQ2YQ%3D%3D"
            >
              <i class="bi bi-instagram" style="font-size: 25px"></i>
            </a>
          </li>
          <!--Facebook (currently no link)-->
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="https://www.facebook.com"
            >
              <i class="bi bi-facebook" style="font-size: 25px"></i>
            </a>
          </li>
          <!--YouTube (currently no link)-->
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="https://www.youtube.com"
            >
              <i class="bi bi-youtube" style="font-size: 25px"></i>
            </a>
          </li>
          <!--Discord-->
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="https://discord.gg/Xqu77sfRkw"
            >
              <i class="bi bi-discord" style="font-size: 25px"></i>
            </a>
          </li>
          <!--Search (I still have no idea on how I'm going to do this shit but that's a me problem I guess)-->
          <li class="nav-item">
            <button>
              <i class="bi bi-search" style="font-size: 25px"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
