<!-- ÜBERSCHRIFT -->
<div class="lightbg ueberschrift">
  <div class="textUE">
      <h1>Downloads</h1>
  </div>
</div>

<!-- INHALT -->


<div class="download-section darkbg container">

  <div class="form-group row mb-3">
    <div class="col-md-6">
      <input type="text" class="form-control download-search" [(ngModel)]="search" placeholder="Nach Namen suchen..." (input)="fetchDocuments()" />
    </div>

    <div class="col-md-4" >
      <select class="download-filter form-control" [(ngModel)]="fileType" (change)="fetchDocuments()">
        <option value="">Alle Dateiformate</option>
        <option *ngFor="let type of fileTypes" [value]="type">{{ type }}</option>
      </select>
    </div>
  </div>

   <div>
    <div *ngFor="let doc of documents" class="download-card flex">
      <div class="text-group">
        <h3 class="document-name">{{ doc.name }}</h3>
        <p class="document-text">{{ doc.fileType }} •  {{ doc.created | date: 'dd.MM.yyyy' }}</p>
      </div>
      <a class="download-btn" [href]="doc.url" target="_blank" download>
        Download
      </a>
    </div>
  </div>
</div>