<div class="shit pt-5 h-100 p-5 rounded-3">
  <div class="text-light text-center">
    <h1>Downloads</h1>
  </div>
</div>
<br /><br />
<div class="d-flex">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Dokumenten-ID</th>
        <th scope="col">Dokumenten-Name</th>
        <th scope="col">Zuletzt bearbeitet</th>
        <th scope="col">Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">1</th>
        <td>Statuten des Vereins</td>
        <td>25.04.2024</td>
        <td>
          <a
            href="../../assets/docs/Änderung der Statuten - BESCHLUSS.pdf"
            class="nav-link"
            ><button type="button" class="btn btn-primary">Download</button></a
          >
        </td>
      </tr>
      <tr>
        <th scope="col">2</th>
        <td>Auswertung der Umfrage vom 22.06.2023</td>
        <td>29.11.2023</td>
        <td>
          <a
            href="../../assets/docs/Auswertung_Umfrage_22.06.2023.pdf"
            class="nav-link"
            ><button type="button" class="btn btn-primary">Download</button></a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br /><br /><br /><br />
