<div class=" shit pt-5 h-100 p-5 rounded-3 ">
    <div class=" text-light text-center ">
        <h1>Das Präsidium</h1>
    </div>
    </div>
    <br><br>

    <div class="container">
        <iframe src="https://docs.google.com/spreadsheets/d/1BVg--NEoilm66PsYtenGfDoHN10OgeLz1XcazG0O4SQ/edit?pli=1&gid=0#gid=0" style="height: 80vh; width: 67vw"></iframe>
        <p style="color: white;">Quelle: <a href="https://docs.google.com/spreadsheets/d/1BVg--NEoilm66PsYtenGfDoHN10OgeLz1XcazG0O4SQ/edit?pli=1&gid=0#gid=0" class="linkclass">Unsere Eventliste</a></p>
    </div>