.linkclass{
    text-decoration: none;
    color: white;
    background-color: dark;
    
}

a:hover {
    color: rgb( 82, 100 ,203);
  }

  .liste {
    text-align: center;
  }
  .liste > ul {
    display: inline-block;
  }