<div *ngIf="isLoading" style="height: 120vh;">

  <!-- You can show a loading spinner or message here -->

</div>

<!-- ÜBERSCHRIFT -->
<div class="lightbg ueberschrift">
  <div class="textUE">
    <h1>{{news.title}}</h1>
  </div>
</div>

<!-- INHALT -->

<div *ngIf="!isLoading" class="card ">
    <img src="../../../assets/images/news/{{news.img}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <div class="titelspacing">
        <h4 class="card-title text-center">{{news.title}}</h4>
      </div>
      
      <p class="date">Veröffentlicht: {{news.created | date: "dd.MM.yyyy"}}</p>
      <p class="card-text cardtextstyle">
        {{news.description}}
      </p>
    </div>
</div>