<!-- ÜBERSCHRIFT -->
<div class="lightbg ueberschrift">
    <div class="textUE">
        <h1>Mitgliedsantrag erfolgreich gestellt!</h1>
    </div>
  </div>
  
  <!-- INHALT -->

  <!-- auf Bild von Mally warten -->
   
  <div class="col-md-12 cont">    <!--Container mit Padding zum einrücken-->
    <div class="media darkbg">
        <div class="media-body ">
            <h2 class="aufgabenUE">Wie geht es nun weiter?</h2>
                <p class="textleft">Dein Antrag ist erfolgreich bei unserem Präsidium eingelangt! Eines unserer Präsidiumsmitglieder wird sich anschließend
                    persönlich bei dir melden! <br> <br>
                    Falls du länger als eine Woche nichts von uns gehört hast, melde dich doch gerne unter 
                    <a href="mailto:verwaltung@conmunity.at" class="linkclass d-block">verwaltung&#64;conmunity.at</a>
                </p>
        </div>
        <img class="media-object right" src="../../assets/images/Maskotchen.png" alt="Image">
    </div>
  </div>

  <div class="col-md-12 cont">   
    <div class="media2 darkbg">
       
            <h2 class="aufgabenUE centered">Dein Antrag zum downloaden</h2>
            <a href="https://www.conmunity.at/api/antraege/Mitgliedsantrag_{{antragsNummer}}.pdf"  class="w-100 btn btn-lg" type="button" target="_blank">
              Hier downloaden
            </a>

    </div>
  </div>
  
  
  
        