<div class="shit pt-5 h-100 p-5 rounded-3">
  <div class="text-light text-center">
    <h1>Unsere Partner und Sponsoren</h1>
  </div>
</div>
<br /><br />

<div class="d-flex flex-lg-row flex-column">
  <div class="container col d-flex justify-content-center mr-auto p-2">
    <a href="https://www.instagram.com/lupins.markt/" class="linkclass">
      <div class="card shit" style="width: 18rem">
        <img
          src="../../assets/images/partners/LupinsMarkt-withBG.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title text-center">Lupins Markt</h4>
          <p class="card-text cardtextstyle">
            Sagt dir schon der Lupins Markt etwas?<br /><br />
            Der Lupins Markt ist ein Kunstmarkt in St. Pölten mit dem Auftrag
            die Nischenkunstszene in Niederösterreich zu fördern und
            vernetzen.<br /><br />
            Mit dem frechen Lupin als Maskottchen hat sich es sich das Team des
            Lupins Markt zur Aufgabe gemacht, stetig zu expandieren bis ganz
            Österreich Lupin und seine lustigen Events kennt.
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="container col d-flex justify-content-center mr-auto p-2">
    <a
      href="https://www.murdertrainproductions.com/de/home"
      class="linkclass"
    ></a>
    <div class="card shit" style="width: 18rem">
      <img
        src="../../assets/images/partners/MurdertrainProductions.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h4 class="card-title text-center">Murdertrain Productions</h4>
        <p class="cardtextstyle">
          Murdertrain Productions - Was ist denn das?<br /><br />
          Murdertrain Productions ist das Zuhause von Kreativität und Diversität
          und setzt sich im Rahmen von bunten Veranstaltungen mit den Themen
          Kunst und Kultur auseinander.<br /><br />
          Egal ob kleine Märkte oder große Messen, ob für Weebs, Künstler oder
          die Queer-Szene Für jeden ist etwas dabei!
        </p>
      </div>
    </div>
  </div>
  <div class="container col d-flex justify-content-center mr-auto p-2">
    <a href="https://www.aumkv-graz.at/index.html" class="linkclass">
      <div class="card shit" style="width: 18rem">
        <img
          src="../../assets/images/partners/AMKV.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title text-center">
            Anime und Manga Kulturverein Graz
          </h4>
          <p class="card-text cardtextstyle">
            Kennst du schon den Anime und Manga Kulturverein Graz?<br /><br />Der
            AUMKV ist ein 2019 gegründeter Verein mit dem Auftrag, sich mit der
            Grazer Community zu vernetzen und die Jugend- und Popkultur zu
            fördern.<br /><br />Sie bereichern die Szene nicht nur durch ihre
            monatlichen Mitgliedertreffen, sondern auch die regelmäßige Präsenz
            auf Events oder Conventions!
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="d-flex flex-lg-row flex-column">
  <div class="container col d-flex justify-content-center mr-auto p-2">
    <a href="https://www.merchversum.at/" class="linkclass">
      <div class="card shit" style="width: 18rem">
        <img
          src="../../assets/images/partners/Merchversum.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title text-center">Merchversum</h4>
          <p class="card-text cardtextstyle">
            Setzt eure Astronautenhelme auf, ab geht’s ins Merchversum<br /><br />
            Im Merchversum findet ihr alles was euer Herz begehrt, ganz egal ob
            Mangas & Comics, Sammelkarten, Plushies oder Figuren! <br /><br />
            Wie der Name verrät ist das Merchversum der ideale Ausflugsziel wenn
            ihr euch coolen Anime-Merch besorgen wollt! <br /><br />
            Alternativ könnt ihr natürlich auch gerne im Merchversum-Online-Shop
            vorbeischauen!<br /><br />
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="container col d-flex justify-content-center mr-auto p-2">
    <a href="https://linktr.ee/cgnexus_" class="linkclass">
      <div class="card shit" style="width: 18rem">
        <img
          src="../../assets/images/partners/CGN.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title text-center">CosGamerNexus</h4>
          <p class="cardtextstyle">
            Cosplay und E-Sport… Wie passt das denn zusammen?<br /><br />
            CosGamerNexus zeigt euch wie das geht, denn hierbei handelt es sich
            um eine super Anlaufstelle für alle mit Begeisterung für E-Sports
            und Cosplay!<br /><br />
            Mit spannenden Events, Videos und Streams zeigen sich euch die
            spannenden Facetten dieser beiden unterschiedlichen Welten und
            welche Gemeinsamkeiten es gibt!
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="container col d-flex justify-content-center mr-auto p-2">
    <a href="https://gamingpc.store/" class="linkclass">
      <div class="card shit" style="width: 18rem">
        <img
          src="../../assets/images/partners/GamingPCStore.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title text-center">GamingPCStore</h4>
          <p class="cardtextstyle">
            Wo gibt’s denn bessere Gaming-PCs als beim GamingPCStore?!<br /><br />
            Der GamingPCStore ist dein Partner, wenn es um klasse-konfigurierte
            und individualisierte Computer mit der besten verfügbaren
            Technik!<br /><br />
            Die Aufgabe ist klar: Optimieren und Zusammenführen der besten
            Systeme! Jeder findet hier seinen geeigneten PC zu
            Spitzenpreisen.<br /><br />
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="d-flex flex-lg-row flex-column">
  <div class="container col d-flex justify-content-center mr-auto p-2">
    <a class="linkclass" href="https://www.tokyoboom.at/">
      <div class="card shit" style="width: 18rem">
        <img
          src="../../assets/images/partners/TokyoBoom.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title text-center">Tokyo Boom</h4>
          <p class="cardtextstyle">
            Boom Boom Boom! Auf in‘s TokyoBoom!<br /><br />
            TokyoBoom bietet einen Ort, an dem gegenseitiges Verständnis sowie
            Offenheit für Kultur und Kulinarik im Vordergrund stehen. Die vegane
            Version der in Österreich oft noch unbekannten Speisen kreiert ein
            außergewöhnliches Geschmackserlebnis!<br /><br />
            Es ist ein Ort an dem sich Welten treffen, um ein einzigartiges
            Erlebnis zu ermöglichen. Von monatlichen Drag-Shows bis hin zu
            Cosplay Raves ist alles dabei!
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="container col d-flex justify-content-center mr-auto p-2">
    <a href="mailto:sponsoren@conmunity.at" class="linkclass">
      <div class="card shit" style="width: 18rem">
        <img
          src="../../assets/images/partners/Wir.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title text-center">... Und wir suchen Weitere!</h4>
          <p class="cardtextstyle">
            Du findest unsere Mission und Ziel toll?<br /><br />
            Du hast einen Verein, Laden oder ähnliches und möchtest uns gern bei
            unserem Vorhaben unterstützen?<br /><br />
            Dann meld dich doch gerne bei uns, klicke dazu einfach auf diese
            Box.
          </p>
        </div>
      </div>
    </a>
  </div>
  <!--Empty for formatting. Medium-rare fix-->
  <div class="container col d-flex justify-content-center mr-auto p-2"></div>
</div>

<br /><br />
