<!-- ÜBERSCHRIFT -->
<div class="lightbg ueberschrift">
  <div class="textUE">
      <h1>Unsere Partner und Sponsoren</h1>
  </div>
</div>


<div *ngIf="isLoading" style="height: 120vh;">

  <!-- You can show a loading spinner or message here -->

</div>


<!-- INHALT -->

<div *ngFor="let row of rowsToIterate" class="d-flex flex-lg-row flex-column">
  <div *ngFor="let partner of Partners[row]" class="container col d-flex justify-content-center mr-auto p-2 card-deck">
    <a *ngIf="partner != undefined" href="{{partner.url}}" class="linkclass">
      <div class="card sponsors lightbg" style="width: 18rem; height: 100%" >
        <img src="../../assets/images/partners/{{partner.img}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title text-center">{{partner.name}}</h4>
          <p class="card-text cardtextstyle">
            {{partner.description}}
          </p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col justify-content-center">
    <a href="mailto:sponsoren@conmunity.at" class="linkclass">
      <div class="card us lightbg">
        <div class="container">
          <img src="../../assets/images/Logo und Schrift.png" class="card-img-top" alt="..." style="width: 75%; margin-left: auto; margin-right: auto; display: block;"/>
        </div>
        <div class="card-body">
          <h2 class="card-title text-center" style="padding-bottom: 10px;">... Und wir suchen Weitere!</h2>
          <p class="cardtextstyle" style="font-size: larger;">
            Du findest unsere Mission und Ziel toll?<br /><br />
            Du hast einen Verein, Laden oder ähnliches und möchtest uns gern bei
            unserem Vorhaben unterstützen?<br /><br />
            Dann meld dich doch gerne bei uns, klicke dazu einfach auf diese
            Box.
          </p>
        </div>
      </div>
    </a>
    
  </div>
</div>

<br /><br />

