<div class="shit pt-5 h-100 p-5 rounded-3">
  <div class="text-light text-center">
    <h1>Unsere Partner und Sponsoren</h1>
  </div>
</div>
<br /><br />

<div *ngFor="let row of rowsToIterate" class="d-flex flex-lg-row flex-column">
  <div *ngFor="let partner of Partners[row]" class="container col d-flex justify-content-center mr-auto p-2 card-deck">
    <a *ngIf="partner != undefined" href="{{partner.PartnerURL}}" class="linkclass">
      <div class="card shit" style="width: 18rem">
        <img src="{{partner.PartnerImg}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title text-center">{{partner.PartnerName}}</h4>
          <p class="card-text cardtextstyle">
            {{partner.PartnerDesc}}
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="container">
    <a href="mailto:sponsoren@conmunity.at" class="linkclass">
      <div class="card shit" style="width: 100%">
        <div class="container">
          <img src="../../assets/images/partners/Wir.png" class="card-img-top" alt="..." style="width: 18rem; margin-left: auto; margin-right: auto; display: block;"/>
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">... Und wir suchen Weitere!</h4>
          <p class="cardtextstyle">
            Du findest unsere Mission und Ziel toll?<br /><br />
            Du hast einen Verein, Laden oder ähnliches und möchtest uns gern bei
            unserem Vorhaben unterstützen?<br /><br />
            Dann meld dich doch gerne bei uns, klicke dazu einfach auf diese
            Box.
          </p>
        </div>
      </div>
    </a>
</div>

<br /><br />