.media {
    padding: 20px;
    width: 100%;
    display: flex; /* Make the media container a flex container */
    flex-wrap: wrap; /* Allow the flex items to wrap */
  }

.cardundertitel {
    text-align: center;
    font-weight: bold;
}

.cardtextstyle {
    text-align: left;
}

.positionl {
    offset: relative;
    right: 30px;
}

