
<div class=" shit pt-5 h-100 p-5 rounded-3 ">
    <div class=" text-light text-center ">
        <h1>Unsere Ziele</h1>
    </div>
    </div>
    <br><br>

  <div class="goodshit">

        <blockquote>A well-known quote, contained in a blockquote element.</blockquote>
     

  </div>  

<div class="timeline"> 
  <div class="position-relative timeline__event  animated fadeInUp delay-3s timeline__event--type1">
    <div class="timeline__event__icon ">
      <i class="lni-cake"></i>

    </div>
   
    <div class="timeline__event__content ">
      <div class="timeline__event__title">
        … Cosplayerinnen sich jederzeit wohlfühlen können.
      </div>
    </div>
  </div>


  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
    <div class="timeline__event__icon">
      <i class="lni-burger"></i>

    </div>
    
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        … Fotografinnen auch als Kunstschaffende angesehen werden 
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
    <div class="timeline__event__icon">
      <i class="lni-slim"></i>

    </div>
 
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        … auch die Personen hinter Veranstaltungen  / Projekten als Individuen gesehen werden 
      </div>

    </div>
  </div>
  <div class="timeline__event animated fadeInUp timeline__event--type4">
    <div class="timeline__event__icon">
      <i class="lni-coffee"></i>

    </div>
  
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        … Besuchende unabhängig ihres sozioökonomischen Statuts eine Veranstaltung / ein Projekt ausreichend genießen können und deren Grundbedürfnisse befriedigt werden können.
      </div>
    </div>
  </div>

</div>


