.cardundertitel{
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}


.cardtextstyle {
  text-decoration: none;
}

.linkclass{
  text-decoration: none;
  color: white;
  background-color: dark;
  
}
.cardundertitel{
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.cardtextstyle {
  text-decoration: none;
}

.linkclass{
  text-decoration: none;
  color: white;
  background-color: dark;
  
}
.goodshit{
  color: white;
  background-color: hsla(210, 11%, 15%, 0.616);
}

.date{
  opacity: 70%;
}
