<br><br>
<div>
    <div class="list-group" *ngFor="let newsArticle of news">
      <div class="list-group-item d-flex gap-3 py-3 border-0 shit">
          <img src="/../assets/images/news/{{newsArticle.url}}" style="width: 20%; height: 20%;">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h5 class="mb-0">{{newsArticle.title}}</h5>
              <p class="mb-0 opacity-75">Veröffentlicht: {{newsArticle.date | date: "dd.MM.yyyy"}}</p>
              <br>
              <small>{{newsArticle.desc}}</small>
          </div>
          </div>
        </div>
          <br><br>
        </div>
</div>
<br><br>