<!-- ÜBERSCHRIFT -->
<div class="lightbg ueberschrift">
  <div class="textUE">
      <h1>Neuigkeiten</h1>
  </div>
</div>

<!-- INHALT -->

<div *ngIf="isLoading" style="height: 120vh;">

</div>
  <br><br>
  <div *ngFor="let row of rowsToIterate" class="d-flex flex-lg-row flex-column">
    <ng-container *ngFor="let news of News[row]">
      <div  class="container col d-flex justify-content-center mr-auto card-deck">
        <div *ngIf="news.id">
          <a routerLink="/news/{{news.id}}" class="linkclass">
          <div class="card">
            <img src="{{news.ImageUrl}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <div class="titelspacing">
                <h4 class="card-title text-center">{{news.title}}</h4>
              </div>
              <p class="date">Veröffentlicht: {{news.date | date: "dd.MM.yyyy"}}</p>
              <p class="card-text cardtextstyle">
                {{news.introduction}}
               </p>
              </div>
            </div>
          </a>
      </div>
      </div>
    </ng-container>
  </div>
<br><br>