<div class="lightbg ueberschrift">
    <div class="textUE">
        <h1>Impressum</h1>
    </div>
</div>

<div class="ueberschrift darkbg">
    <p>
        Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz.
    </p>
    <p><strong>CONmunity - Verein für Musik, Tanz, Videospiele und moderne Jugend- und Popkultur</strong><br>
    ZVR: 1919508891</p>
    <p>
        Raaberbahngasse 3 / 3 / 3<br>
        2601 Sollenau<br>
        Österreich<br>
        <br>
        Tel.: +43 699 10081484
    </p>
    <h4>Organschaftliche Vertreter</h4>
    <p>
        E-Mail des gesamten Präsidiums: <a href="mailto:verwaltung@conmunity.at" class="linkclass">verwaltung&#64;conmunity.at</a><br>
        Präsidentin: Mally Pechhacker (<a href="mailto:mally.pechhacker@conmunity.at" class="linkclass">mally.pechhacker&#64;conmunity.at</a>)<br>
        Kassier: Fabio Reichhalter (<a href="mailto:fabio.reichhalter@conmunity.at" class="linkclass">fabio.reichhalter&#64;conmunity.at</a>)<br>
        Schriftführerin: Alexandra König (<a href="mailto:alexandra.koenig@conmunity.at" class="linkclass">alexandra.koenig&#64;conmunity.at</a>)
    </p>
    <h4>Zuständige Vereinsbehörde</h4>
    <p>
        Bezirkshauptmannschaft Wiener Neustadt / Land<br>
   
    </p>
    <h4>Vereinszweck nach §2 der Statuten</h4>
    <p>
        Der Verein, dessen Tätigkeit nicht auf Gewinn gerichtet ist, bezweckt die Förderung der Verbreitung moderner Jugend- und Popkultur, die Themen wie Musik, Tanz, Video-, Karten-, Rollen-, und Brettspiele, diverse Kunst, Comics und Mangas, Filme und Serien, Fotografie, Bücher und kulturellen Austausch beinhaltet. Es wird darauf abgezielt, für alle Personen, die sich für diese Themen interessieren, einen sicheren, diskriminierungsfreien und geselligen Raum zu schaffen und für einen toleranten und rücksichtsvolleren Umgang innerhalb der Fan-Gemeinschaft zu sorgen. Es soll das Wohlbefinden aller Personen, die in dieser Gemeinschaft tätig sind, als auch die Sicherheit und Kommunikation, innerhalb, als auch zwischen Fanclubs, Vereinen und anderen Organisationen, die gleiche oder ähnliche Ziele verfolgen, gefördert werden.
    </p>
    <h4>Kontaktdaten des Verantwortlichen für Datenschutz</h4>
    <p>
        Sollten Sie Fragen zum Datenschutz haben, finden Sie nachfolgend die Kontaktdaten der verantwortlichen Person:
    </p>
    <p>
        Name: Alexandra König<br>
        Funktion im Verein: Schriftführerin und Datenschutzbeauftragte<br>
        Telefon: +43 650 3800426<br>
        E-Mail: <a href="mailto:datenschutz@conmunity.at" class="linkclass">datenschutz&#64;conmunity.at</a>
    </p>
    <h4>Kontaktdaten der IT</h4>
    <p>
        Sollten Sie Fragen zu unserer Website haben, finden Sie nachfolgend die Kontaktdaten der verantwortlichen Personen:
    </p>
    <p>
        <strong>Name:</strong> Alexandra König<br>
        <strong>Funktion:</strong> Schriftführerin und Teamleitung IT<br><br>
        <strong>Name:</strong> Christoph Tempelhoff<br>
        <strong>Funktion:</strong> IT-Team<br><br>
        <strong>Name:</strong> Siegfried Glatz<br>
        <strong>Funktion:</strong> IT-Team<br><br>
        <strong>Erreichbarkeit gesamte IT: </strong> <a href="mailto:it@conmunity.at" class="linkclass">it&#64;conmunity.at</a><br>
        <strong>Erreichbarkeit Teamleitung IT: </strong> <a href="mailto:alexandra.koenig@conmunity.at" class="linkclass">alexandra.koenig&#64;conmunity.at</a>
    </p>
    
    <h4>EU-Streitschlichtung</h4>
    <p>
        Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) möchten wir Sie über die Online-Streitbeilegungsplattform (OS-Plattform) informieren. Verbraucher haben die Möglichkeit, Beschwerden an die Online-Streitbeilegungsplattform der Europäischen Kommission unter <a href="http://ec.europa.eu/odr?tid=121890433" class="linkclass" target="_blank">http://ec.europa.eu/odr?tid=121890433</a> zu richten. Die dafür notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.
    </p>
    <p>
        Wir möchten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
    </p>
    <h4>Haftung für Inhalte dieser Website</h4>
    <p>
        Wir entwickeln die Inhalte dieser Website ständig weiter und bemühen uns, korrekte und aktuelle Informationen bereitzustellen. Leider können wir keine Haftung für die Korrektheit aller Inhalte auf dieser Website übernehmen, speziell für jene, die seitens Dritter bereitgestellt wurden. Als Diensteanbieter sind wir nicht verpflichtet, die von ihnen übermittelten oder gespeicherten Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
    </p>
    <p>
        Unsere Verpflichtungen zur Entfernung von Informationen oder zur Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen aufgrund von gerichtlichen oder behördlichen Anordnungen bleiben auch im Falle unserer Nichtverantwortlichkeit davon unberührt.
    </p>
    <p>
        Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitten wir Sie, uns umgehend zu kontaktieren, damit wir die rechtswidrigen Inhalte entfernen können. Sie finden die Kontaktdaten im Impressum.
    </p>
    <h4>Haftung für Links auf dieser Website</h4>
    <p>
        Unsere Website enthält Links zu anderen Websites, für deren Inhalt wir nicht verantwortlich sind. Haftung für verlinkte Websites besteht für uns nicht, da wir keine Kenntnis rechtswidriger Tätigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen würden, wenn uns Rechtswidrigkeiten bekannt werden.
    </p>
    <p>
        Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitten wir Sie, uns zu kontaktieren. Sie finden die Kontaktdaten im Impressum.
    </p>
    <h4>Urheberrechtshinweis</h4>
    <p>
        Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht. Bitte fragen Sie uns, bevor Sie die Inhalte dieser Website verbreiten, vervielfältigen oder verwerten, wie zum Beispiel auf anderen Websites erneut veröffentlichen. Falls notwendig, werden wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich verfolgen.
    </p>
    <p>
        Sollten Sie auf dieser Webseite Inhalte finden, die das Urheberrecht verletzen, bitten wir Sie, uns zu kontaktieren.
    </p>
    <h4>Bildernachweis</h4>
    <p>
        Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich geschützt. Die Bilderrechte liegen bei den folgenden Fotografen und Unternehmen:
    </p>
    <p><strong>CONmunity - Verein für Musik, Tanz, Videospiele und moderne Jugend- und Popkultur</strong><br>
    ZVR: 1919508891<br>
    Raaberbahngasse 3 / 3 / 3<br>
    2601 Sollenau<br>
    Österreich</p>
    <p>Alle Texte sind urheberrechtlich geschützt.</p>
    <p>Quelle: Erstellt mit dem Impressum Generator von AdSimple</p>
    <p>© CONmunity 2024</p>
</div>
<br><br>