.shit {
    color: white;
    background-color: hsla(210, 11%, 15%, 80%);
}

.cardundertitel {
    text-align: center;
    font-weight: bold;
}

.cardtextstyle {
    text-align: left;
}


.positionl {
    offset: relative;
    right: 30px;
}

h2 {
    margin: 5%;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
}