
<div class=" shit pt-5 h-100 p-5 rounded-3 ">
    <div class=" text-light text-center ">
        <h1>Unsere Tätigkeitsbereiche</h1>
    </div>
    </div>
    <br><br>

<div class="timeline"> 
  <div class="position-relative timeline__event  animated fadeInUp delay-3s timeline__event--type1">
    <div class="timeline__event__icon ">
      <i class="lni-cake"></i>

    </div>
   
    <div class="timeline__event__content ">
      <div class="timeline__event__title">
        Presse, Medien, Kommunikation
      </div>
      <div class="container timeline__event__description">
        <p>Dieser Bereich ist sowohl der präsenteste, als auch der, der die meisten unterschiedlichen Aufgaben und Arbeitsfelder umfasst. <br>
          Grob gesagt umfasst dieser Bereich sämtliche Öffentlichkeitsarbeit dazu gehört sämtliche Social-Media-Präsenz, als auch das erstellen verschiedener Designs und die Kontaktaufnahme mit vereinsexternen Personen.</p>
      </div>
    </div>
  </div>


  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
    <div class="timeline__event__icon">
      <i class="lni-burger"></i>

    </div>
    
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Sanität und Sicherheit
      </div>
      <div class="timeline__event__description">
        <p>Wie der Name bereits vermuten lässt, ist die Aufgabe dieses Bereichs das Sicherstellen der Einhaltung von diversen Regeln, aber auch das Bereitstellen von adäquater Ersten Hilfe auf Veranstaltungen.</p>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
    <div class="timeline__event__icon">
      <i class="lni-slim"></i>

    </div>
 
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Technik und Digitales
      </div>
      <div class="timeline__event__description">
        <p>Kurz zusammengefasst umfasst dieser Bereich diverse (Bühnen-) Technik auf Veranstaltungen, aber auch sämtliche, für den Verein verwendete, IT, wie unsere Website oder andere interne Programme.</p>
      </div>

    </div>
  </div>
  <div class="timeline__event animated fadeInUp timeline__event--type4">
    <div class="timeline__event__icon">
      <i class="lni-coffee"></i>

    </div>
  
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Mitgliederbetreuung 
      </div>
      <div class="timeline__event__description">
        <p>Die Mitgliederbetreuung hat es sich zur Aufgabe gemacht, für das Wohlergehen aller Vereinsmitglieder und freiwilligen Helfer zu sichern und gegebenenfalls zu fördern.<br>
          Es soll beispielsweise darauf geachtet werden, dass jeder Helfer auf einer Veranstaltung genug Nahrung zu sich nimmt oder die Möglichkeit hat, sich bei unangenehmen Situationen an jemanden wenden zu können, der für einen da ist.</p>
      </div>
    </div>
  </div>

  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type5">
    <div class="timeline__event__icon">
      <i class="lni-burger"></i>

    </div>
    
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Workshops Schulungen Trainings
      </div>
      <div class="timeline__event__description">
        <p>Um den Ansprüchen der CON-Community gerecht zu werden, ist es uns wichtig, sich stetig mit verschiedenen Thematiken auseinanderzusetzen. Aus diesem Grund beinhaltet die interne Gliederung unseres Vereins verschiedene Workshops oder Trainings, in welchen sich unsere Mitglieder beispielsweise mit effektiver Kommunikation, Management-Basics oder auch Erste Hilfe näher beschäftigen.<br>
          Es besteht jedoch auch die Möglichkeit externer Workshops, in welchen entweder besagte Inhalte an andere Veranstalter und Interessierte weitergegeben werden können, oder die Workshop-Inhalte sich gar an eine ganz andere Zielgruppe richten (bspw. Wig-Styling Workshops für Cosplayer)</p>
      </div>
    </div>
  </div>

</div>

