.cardundertitel{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.cardtextstyle {
    text-decoration: none;
}
.cardheader{
    border-color: #b988ea;
    color: #b988ea;
}

.linkclass{
    text-decoration: none;
    color: white;
    background-color: dark;
}

.month{
    color: rgb(150, 150, 150)
}
.w-100 {
    width: 100% !important;
}

.center{
    justify-content: center;
    align-content: center;
}

 .btn{
    background-color: transparent;
    color: #b988ea;
    border-color: #b988ea;
   
    
 }
 .btn:hover{
        color: white;
    background:   #b988ea;;
    cursor: pointer;
    box-shadow: 0 0 0.75em 0.05em #b988ea;
    text-shadow: 0 0 .9px white, 0 0 .9px white, 0 0 .9px white;
 }