<!-- ÜBERSCHRIFT -->
<div class="lightbg ueberschrift">
  <div class="textUE">
      <h1>Trete der CONmunity bei und werd' Mitglied</h1>
  </div>
</div>

<!-- INHALT -->
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col d-flex">
    <div class="card mb-4 flex-fill darkbg">
      <div class="card-header cardheader py-3">
        <h4>Temporäre Mitgliedschaft</h4>
      </div>
      <div class="card-body center">
        <h1 class="card-title">
          0€
          <small class="month">/ 6 Mo</small>
        </h1>
        <h4 class="card-title">
          Kostenlos
        </h4>
        <div class="list-container">
        <ul>
          <li>Teilnahme an Vereinstätigkeiten</li>
          <li>Mitwirken bei Projekten</li>
          <li>Freiwillige Aushilfe</li>
        </ul>
      </div>
        <div class="button-container">
        <a href="../../assets/docs/Antraege/Mitgliedsantrag_Temporäres_Mitglied.pdf" class="linkclass" target="_blank">
            <button class="w-100 btn btn-lg" type="button">
              Zum Anmeldeantrag!
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col d-flex">
    <div class="card mb-4 flex-fill darkbg">
      <div class="card-header cardheader py-3">
        <h4>Außerordentliche Mitgliedschaft</h4>
      </div>
      <div class="card-body center">
        <h1 class="card-title">
          30€
          <small class="month">/6 Mo</small>
        </h1>
        <h4 class="card-title">
          15€
          <small class="month">/ 6 Mo für Auszubildene</small>
        </h4>
        <div class="list-container">
        <ul>
          <li>Teilnahme an Vereinstätigkeiten</li>
          <li>Teilnahme bei außerordentlichen Mitgliederversammlung</li>
          <li>Kostenlose Workshops</li>
          <li>CONmunity-Newsletter</li>
          <li>Zugriff auf Event-Liste (auch nach Ablauf der Frist)</li>
          <li>Exklusive Vorteile bei unseren Kooperationspartnern</li>
        </ul>
      </div>
      <div class="button-container">
        <a href="../../assets/docs/Antraege/Mitgliedsantrag_Außerordentliches_Mitglied.pdf" class="linkclass" target="_blank">
            <button class="w-100 btn btn-lg" type="button">
              Zum Anmeldeantrag!
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col d-flex">
    <div class="card mb-4 flex-fill darkbg">
      <div class="card-header cardheader py-3">
        <h4>Ordentliche Mitgliedschaft</h4>
      </div>
      <div class="card-body center">
        <h1 class="card-title">
          30€
          <small class="month">/6 Mo</small>
        </h1>
        <h4 class="card-title">
          15€
          <small class="month">/ 6 Mo für Auszubildene</small>
        </h4>
        <div class="list-container">
        <ul>
          <li>Teilnahme an Vereinstätigkeiten</li>
          <li>Teilnahme bei Projekten</li>
          <li>Freiwillige Aushilfe</li>
          <li>Tätigkeit als Projekt-, Team- oder Bereichsleitung</li>
          <li>Mitwirken in mehreren Tätigkeitsbereichen</li>
          <li>Teilnahme bei (außer-)ordentlichen Mitgliederversammlung</li>
          <li>Kostenlose Workshops</li>
          <li>CONmunity-Newsletter</li>
          <li>Zugriff auf Event-Liste (auch nach Ablauf der Frist)</li>
          <li>Exklusive Vorteile bei unseren Kooperationspartnern</li>
        </ul>
      </div>
      <div class="button-container">
        <a routerLink="/register" class="linkclass">  <!--führt zur Registrierungs Page-->

          <button class="w-100 btn btn-lg" type="button">
            Zum Anmeldeantrag!
          </button>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>
