<div class=" shit pt-5 h-100 p-5 rounded-3 ">
    <div class=" text-light text-center ">
        <h1>Unser Verein</h1>
    </div>
    </div>
    <!--
    <br><br>
    <div class=" d-grid gap-3 py-3 border-0 shit">
        <p>Die CONmunity ist ein gemeinnütziger Kulturverein mit Sitz in Niederösterreich. 
            Wir beschäftigen uns im Rahmen unserer Vereinstätigkeit gemeinsam mit den unterschiedlichsten Themen der modernen Jugend- und Popkultur, wie beispielsweise Musik; Tanz; Video- Karten- Rollen- und Brettspiele; diverse Kunst; Comics
            und Mangas; Filme und Serien; Fotografie; Bücher und kultureller Austausch.</p>
    <div class=" d-grid gap-2 w-100 justify-content-between">
       
            <img src="../../assets/images/placeholders/person.png" class="card-img-top" alt="...">
        </div>
    </div>-->

    <br><br>
  

      <div id="carouselExampleIndicators" class="carousel slide schatten" style="margin-bottom: 143px;" >
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active " aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row justify-content-center">

                <div class="col-md-12">
              
                  <div class="media goodshit">
              
                    <div class="media-body ">
              
                      <h2 >Allgemeines</h2>
              
                      <p>Die CONmunity ist ein gemeinnütziger Kulturverein mit Sitz in Niederösterreich. 
              
                        Wir beschäftigen uns im Rahmen unserer Vereinstätigkeit gemeinsam mit den unterschiedlichsten Themen der modernen Jugend- und Popkultur, wie beispielsweise Musik; Tanz; Video- Karten- Rollen- und Brettspiele; diverse Kunst; Comics
              
                        und Mangas; Filme und Serien; Fotografie; Bücher und kultureller Austausch.
              
                      </p>
              
                    </div>
              
                    <img class="media-object" src="../../assets/images/Maskotchen.png" alt="Image">
              
                  </div>
              
                </div>
              
              </div>
          </div>
          <div class="carousel-item">
            <div class="row justify-content-center">

                <div class="col-md-12">
              
                  <div class="media goodshit">
              
                    <div class="media-body">
              
                      <h2 class="media-heading">Vereinszweck</h2>
              
                      <p>Unser Ziel ist es, das Wohlbefinden aller Personen, die in der Con-Szene untwrwegs sind, zu fördern, ganz egal ob man nun als Cosplayerin, Security-Aushilfe oder Besucherin unterwegs ist. Alle haben individuelle Bedürfnisse, mit denen man sich bestenfalls gemeinsam auseinandersetzt, um einen spaßigen, angenehmen und geselligen Raum für jeden zu schaffen!
              
                      </p>
              
                    </div>
              
                    <img class="media-object" src="../../assets/images/Logo1.png" alt="Image">
              
                  </div>
              
                </div>
              
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      