<!-- ÜBERSCHRIFT -->
<div class="lightbg ueberschrift">
  <div class="textUE">
      <h1>Unser Verein</h1>
  </div>
</div>

<!-- INHALT -->

<div class="col-md-12 cont">    <!--Container mit Padding zum einrücken-->
  <div class="media darkbg">
      <div class="media-body ">
          <h2 class="aufgabenUE">Allgemeines</h2>
              <p class="textleft">Die CONmunity ist ein gemeinnütziger Kulturverein mit Sitz in Niederösterreich. 
              
                Wir beschäftigen uns im Rahmen unserer Vereinstätigkeit gemeinsam mit den unterschiedlichsten Themen der modernen Jugend- und Popkultur, wie beispielsweise Musik; Tanz; Video- Karten- Rollen- und Brettspiele; diverse Kunst; Comics
      
                und Mangas; Filme und Serien; Fotografie; Bücher und kultureller Austausch.</p>
      </div>
      <img class="media-object right" src="../../assets/images/Maskotchen.png" alt="Image">
  </div>
</div>

<div class="col-md-12 cont">    <!--Container mit Padding zum einrücken-->
  <div class="media darkbg">
    <img class="media-object left" src="../../assets/images/Logo1.png" alt="Image">
      <div class="media-body ">
          <h2 class="aufgabenUE">Vereinszweck</h2>
              <p class="textright">Unser Ziel ist es, das Wohlbefinden aller Personen, die in der Con-Szene untwrwegs sind, zu fördern, ganz egal ob man nun als Cosplayerin, Security-Aushilfe oder Besucherin unterwegs ist. Alle haben individuelle Bedürfnisse, mit denen man sich bestenfalls gemeinsam auseinandersetzt, um einen spaßigen, angenehmen und geselligen Raum für jeden zu schaffen!
              </p>
      </div>
      
  </div>
</div>

      